.head{
  color: hsl(195, 41%, 40%);
  text-align: center;
}
.pdiv{
  border: purple 10px solid;
  margin: 50px;
}
.maindiv{
border: black 1px solid;
display: flex;
flex-direction: row;
justify-content: space-around;
}
p{
 margin: 0;
  width: 65px;
}
.bw{
  background-color: black;
  color: white;
  width: px;
}
.p2{
  text-align: center;
}
.p3{
  text-align: end;
}